<div>
  <h4>
    To make the donation easy and Transparent.
    Every collection and expense will be updated here and other will able to
    keep eye on it.
  </h4>
</div>

<!-- start :  Contributers -->
<button data-toggle="collapse" data-target="#contributer" class="button">
  Contributer
</button>
<div id="contributer" class="collapse">
  The people who has been contributed to the project so far.
  This seciton will contain who has been controbuted so far and 
  what was their contribution. How u can contribute. Git Hub link.
  so and so 
</div>
<!-- End :  Contributers -->
<br>
<br>
<!-- start :  Contact with Us -->
<button data-toggle="collapse" data-target="#contact" class="button">
  Contact
</button>
<div id="contact" class="collapse">
  Join with us and make the project more eligant.
</div>
<!-- End  :  Contact with Us -->